In [27]:
import pandas as pd

In [28]:
world_cup={'Team':['West Indies','West Indies','India','Australia','Pakistan','Srilanka','Australia','Australia','Australia','India','Australia'],'Rank':[7,7,2,1,6,4,1,1,1,2,1],'Year':[1975,1979,1983,1987,1992,1996,1999,2003,2007,2011,2015]}
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],'ICC rank':[1,5,9],'Points':[895,764,656]}

In [29]:
df1=pd.DataFrame(world_cup)
df2=pd.DataFrame(chokers)
print (pd.concat([df1,df2]))
print (df2.append(df1))
print (df1.append(df2))
print (pd.concat([df1,df2],axis=1))

    ICC rank  Points  Rank          Team    Year
0        NaN     NaN   7.0   West Indies  1975.0
1        NaN     NaN   7.0   West Indies  1979.0
2        NaN     NaN   2.0         India  1983.0
3        NaN     NaN   1.0     Australia  1987.0
4        NaN     NaN   6.0      Pakistan  1992.0
5        NaN     NaN   4.0      Srilanka  1996.0
6        NaN     NaN   1.0     Australia  1999.0
7        NaN     NaN   1.0     Australia  2003.0
8        NaN     NaN   1.0     Australia  2007.0
9        NaN     NaN   2.0         India  2011.0
10       NaN     NaN   1.0     Australia  2015.0
0        1.0   895.0   NaN  South Africa     NaN
1        5.0   764.0   NaN   New Zealand     NaN
2        9.0   656.0   NaN      Zimbabwe     NaN
    ICC rank  Points  Rank          Team    Year
0        1.0   895.0   NaN  South Africa     NaN
1        5.0   764.0   NaN   New Zealand     NaN
2        9.0   656.0   NaN      Zimbabwe     NaN
0        NaN     NaN   7.0   West Indies  1975.0
1        NaN     NaN   7.0   West Indies  1979.0
2        NaN     NaN   2.0         India  1983.0
3        NaN     NaN   1.0     Australia  1987.0
4        NaN     NaN   6.0      Pakistan  1992.0
5        NaN     NaN   4.0      Srilanka  1996.0
6        NaN     NaN   1.0     Australia  1999.0
7        NaN     NaN   1.0     Australia  2003.0
8        NaN     NaN   1.0     Australia  2007.0
9        NaN     NaN   2.0         India  2011.0
10       NaN     NaN   1.0     Australia  2015.0
    ICC rank  Points  Rank          Team    Year
0        NaN     NaN   7.0   West Indies  1975.0
1        NaN     NaN   7.0   West Indies  1979.0
2        NaN     NaN   2.0         India  1983.0
3        NaN     NaN   1.0     Australia  1987.0
4        NaN     NaN   6.0      Pakistan  1992.0
5        NaN     NaN   4.0      Srilanka  1996.0
6        NaN     NaN   1.0     Australia  1999.0
7        NaN     NaN   1.0     Australia  2003.0
8        NaN     NaN   1.0     Australia  2007.0
9        NaN     NaN   2.0         India  2011.0
10       NaN     NaN   1.0     Australia  2015.0
0        1.0   895.0   NaN  South Africa     NaN
1        5.0   764.0   NaN   New Zealand     NaN
2        9.0   656.0   NaN      Zimbabwe     NaN
    Rank         Team  Year  ICC rank  Points          Team
0      7  West Indies  1975       1.0   895.0  South Africa
1      7  West Indies  1979       5.0   764.0   New Zealand
2      2        India  1983       9.0   656.0      Zimbabwe
3      1    Australia  1987       NaN     NaN           NaN
4      6     Pakistan  1992       NaN     NaN           NaN
5      4     Srilanka  1996       NaN     NaN           NaN
6      1    Australia  1999       NaN     NaN           NaN
7      1    Australia  2003       NaN     NaN           NaN
8      1    Australia  2007       NaN     NaN           NaN
9      2        India  2011       NaN     NaN           NaN
10     1    Australia  2015       NaN     NaN           NaN

C:\ProgramData\Anaconda2\envs\Testing\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [30]:
#Merging and Joining
print (pd.merge(df1,df2,on='Team'))
print (pd.merge(df1,df2,on='Team',how='left'))
print (pd.merge(df1,df2,on='Team',how='outer'))

Empty DataFrame
Columns: [Rank, Team, Year, ICC rank, Points]
Index: []
    Rank         Team  Year  ICC rank  Points
0      7  West Indies  1975       NaN     NaN
1      7  West Indies  1979       NaN     NaN
2      2        India  1983       NaN     NaN
3      1    Australia  1987       NaN     NaN
4      6     Pakistan  1992       NaN     NaN
5      4     Srilanka  1996       NaN     NaN
6      1    Australia  1999       NaN     NaN
7      1    Australia  2003       NaN     NaN
8      1    Australia  2007       NaN     NaN
9      2        India  2011       NaN     NaN
10     1    Australia  2015       NaN     NaN
    Rank          Team    Year  ICC rank  Points
0    7.0   West Indies  1975.0       NaN     NaN
1    7.0   West Indies  1979.0       NaN     NaN
2    2.0         India  1983.0       NaN     NaN
3    2.0         India  2011.0       NaN     NaN
4    1.0     Australia  1987.0       NaN     NaN
5    1.0     Australia  1999.0       NaN     NaN
6    1.0     Australia  2003.0       NaN     NaN
7    1.0     Australia  2007.0       NaN     NaN
8    1.0     Australia  2015.0       NaN     NaN
9    6.0      Pakistan  1992.0       NaN     NaN
10   4.0      Srilanka  1996.0       NaN     NaN
11   NaN  South Africa     NaN       1.0   895.0
12   NaN   New Zealand     NaN       5.0   764.0
13   NaN      Zimbabwe     NaN       9.0   656.0